body{
	font-family:verdana;
	color:#444;
}
.keyboard{
    width: 704px;
    margin: 0 auto;
}
.keyboard .row{
	width: 100%;
    height: 40px;
    margin-bottom: 10px;
    clear: both;
}
.keyboard .key{
	width: 40px;
    height: 40px;
    float: left;
    cursor: pointer;
    color: #fff;
    margin-left: 6px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(53, 53, 53);
}
.keyboard .key:hover{
    background: #4576b6;
}
.keyboard .backspace,.keyboard .left_shift,.keyboard .capslock, .keyboard .tab{
    width: 100px;
}
.keyboard .enter{
    width: 85px;
}

.keyboard .right_shift{
    width: 130px;
}
.keyboard .space{
    width: 400px;
}
.keyboard sup{
    margin: -10px 0 0 -24px;
    font-size: 12px;
    position: absolute;
}
#keyInput{
    width: 680px;
    height: 80px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-size: 18px;
    color: #444;
    margin-bottom: 10px;
}